body {
  background-color: #696969;
  font-family: Arial, sans-serif;
  color: #191970;
}

kartu-profil {
width: 300px;
margin: 50px;
padding: 20px;
background-color: white;
border-radius: 15px;
box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}

}

.kartu-profil img {
  width: 50px;
  borde-radius: 50%;
}

