body {
  background-color: #FFFFE0; /* Warna kuning  cerah */
  font-family: Arial, sans-serif;
  color: #191970; /* Warna teks utama (Biru Gelap) */
}

kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kuru/kanan */
  padding: 20px;
  background-color: white;
  border-radius: 15%; /* Membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek bayangan */
  text-align: center; /* Menengahkan semua teks di dalalam kartu */
}

.kartu-profil img {
  width: 150px;
  height: 150px;
  borde-radius: 50%; /* Trik untuk membuat gambarpersegi menjadi lingkaran sempurna*/
  object-fit: cover;
  border: 4px solid #4CAF50;
}




